<div class= "container">
    
    <footer class = "footer">
        
        <small>
            
            Copyright &copy;
            Developed by Gaurav Lamba
        </small>
        
    
    </footer>
    
</div>